.Rproj.user
.Rhistory
.RData
.Ruserdata



library(usethis)

# Defina o caminho para o diretório do pacote
package_dir <- "C:/Users/ander/OneDrive/ANDERSON DRIVE VIRTUAL/A_Doutorado FIOCRUZ/PRÓSTATA/RHCgen"

# Criar o arquivo Baixar_Arquivos_DBF.Rd no diretório man
man_dir <- file.path(package_dir, "man")


# Caminho para o arquivo Baixar_Arquivos_DBF.Rd
readme_rd_path <- file.path(man_dir, "Baixar_Arquivos_DBF.Rd")

# Conteúdo do arquivo Baixar_Arquivos_DBF.Rd com quebras de linha
readme_rd_content <- c(
  "\\name{Baixar_Arquivos_DBF}",
  "\\alias{Baixar_Arquivos_DBF}",
  "\\title{Tutorial para baixar arquivos - RHC}",
  "\\description{",
  "Para utilizar o pacote é necessário baixar os arquivos (em .dbf) com os dados de câncer do IntegradorRHC do INCA.\\cr",
  "Basta seguir o passo a passo abaixo:\\cr",
  "\\cr",
  "1. Acesse o site \\url{https://irhc.inca.gov.br/RHCNet/visualizaTabNetExterno.action}.\\cr",
  "\\cr",
  "2. No menu Tabulador Hospitalar, clique em Download.\\cr",
  "\\cr",
  "3. Em seguida, uma nova janela do navegador será aberta automaticamente. Selecione Base de dados de todos os estados e clique em enviar.\\cr",
  "\\cr",
  "4. Em uma nova janela que será aberta, selecione Modelo do arquivo de definição para tabwin* (def). Escolha todos os anos que deseja incluir no banco de dados e clique em enviar.\\cr",
  "\\cr",
  "5. O download dos arquivos começará, e um banner aparecerá com a mensagem: “Seu Download está sendo gerado! Por favor, aguarde..”.\\cr",
  "\\cr",
  "6. Após o término do download, os arquivos com extensão “.dbf” serão salvos na pasta de downloads do seu computador. Estes arquivos estarão compactados. Descompacte-os e copie todos os arquivos com extensão “.dbf”. Exemplo: rhc18.dbf, rhc19.dbf, rhc20.dbf\\cr",
  "\\cr",
  "7. Cole os arquivos na mesma pasta onde está localizado o script do R. Isso é essencial para que o pacote RHCgen possa ler os arquivos corretamente.\\cr",
  "\\cr",
  "8. Abra um novo arquivo no R, selecione R Script.\\cr",
  "\\cr",
  "9. Carregue o pacote RHCgen usando o comando library(RHCgen).\\cr",
  "\\cr",
  "10. Utilize a função construir_banco() para criar automaticamente o banco de dados ajustado.\\cr",
  "}",
  "\\seealso{\\code{\\link{construir_banco}}}",
  "\\keyword{documentation}"
)

# Escrever o conteúdo no arquivo Baixar_Arquivos_DBF.Rd
writeLines(readme_rd_content, readme_rd_path)




# Criar o arquivo RHCgen-package.R no diretório R
package_file_path <- file.path(package_dir, "R", "RHCgen-package.R")
package_file_content <- c(
  "#' RHCgen é uma biblioteca desenvolvida para facilitar a construção de bancos de dados a partir das informações sobre registros de câncer disponíveis no Registro Hospitalar de Câncer (RHC). ",
  "#'",
  "#' @name RHCgen-package",
  "#' @aliases RHCgen",
  "#' @docType package",
  "#' @title RHCgen: Pacote para construção de Bando de Dados de registros de câncer do RHC",
  "#'",
  "#' @details Este pacote oferece ferramentas para carregar e combinar arquivos DBF, realizar ajustes nas variáveis e, por fim, criar um banco de dados organizado para análise posterior. ",
  "#'",
  "#' Veja o Baixar_Arquivos_DBF para um guia passo a passo sobre como baixar os arquivos DBF no IntegradorRHC: \\code{\\link{Baixar_Arquivos_DBF}}",
  "#' @author",
  "#' Anderson Lineu",
  "#'",
  "#' Email: \\email{andersonlineu@gmail.com}",
  "#'",
  "#' Lattes: \\url{ http://lattes.cnpq.br/9727490230028203}",
  "#'",
  "#' Orcid iD: \\url{ https://orcid.org/0000-0002-1703-9310}",
  "#' @keywords package",
  "#' @seealso \\code{\\link{Baixar_Arquivos_DBF}}",
  '"_PACKAGE"'
)
writeLines(package_file_content, package_file_path)


library(RHCgen)
